h1 {
  margin: 2rem auto;
  font-size: 2.5rem;
  font-weight: 100;
  color: #000;
  text-align: center;
}

p {
  margin: 1rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(95, 105, 255);
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: underline;
}

form {
  text-align: center;
  padding: 1rem;
  background-color: rgba(238, 238, 238, 0.671);
}

form label {
  display: block;
  margin: 1rem;
}

form input {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
  width: 20rem;
  text-align: center;
  /* background-color: rgba(245, 245, 245, 0.815); */
  border: none;
  border-bottom: 0.1rem solid rgb(187, 187, 187);
  transition: all 0.3s linear;
  color: rgb(88, 88, 88);
  letter-spacing: inherit;
}

form input:focus {
  outline: none;
  border-bottom: 0.1rem solid rgb(95, 105, 255);
}

form button {
  background-color: rgb(61, 125, 245);
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 1.5rem;
  outline: none;
  border: none;
  transition: all 0.3s linear;
  margin: 0.5rem;
}

form button:hover {
  cursor: pointer;
  background-color: rgb(28, 90, 206);
}

.red {
  background-color: rgb(238, 64, 64) !important;
}

.red:hover {
  background-color: rgb(204, 50, 50) !important;
}
