* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #505050;
}

body {
  word-spacing: 0.2rem;
  letter-spacing: 0.1rem;
  line-height: 150%;
}

h1 {
  margin: 1rem;
}

@media screen and (min-width: 576px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 17px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 19px;
  }
}
