* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 1rem;
}

@media screen and (min-width: 576px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 17px;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}
